.smart-calculator-container {
    font-family: "Open Sans";
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30px;
    background: #fff;
}
.smart-calculator-container .calculator-left {
    background-image: linear-gradient(180deg, #C3932A, #83631D);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 90px;
    display: flex;
    justify-content: center;
}
.smart-calculator-container .calculator-left h2 {
    transform: rotate(270deg);
    align-self: center;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}
.smart-calculator-container .calculator-right { display: block; padding: 36px 20px; }
.smart-calculator-container .calculator-header { text-align: center; margin-bottom: 40px; }
.smart-calculator-container .calculator-header h2 { margin-top: 0; margin-bottom: 10px; font-size: 32px; font-weight: 700; }
.smart-calculator-container .calculator-header .calculator-logo img { width: 23%; margin: 0 14px; }
.smart-calculator-container .calculator-form { display: block; }
.smart-calculator-container .calculator-input { display: grid; margin-bottom: 20px; }
.smart-calculator-container .calculator-group { position: relative; display: flex; border: 2px solid #C3932A; border-radius: 10px; }
.smart-calculator-container .calculator-group > span,
.smart-calculator-container .calculator-group .calculator-field { white-space: nowrap; display: block; }
.smart-calculator-container .calculator-group .calculator-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    border: none;
    border-radius: 10px;
    padding: 16px 12px;
    font-size: 18px;
    font-weight: 600;
}
.smart-calculator-container .calculator-group > span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    align-self: center;
    font-size: 18px;
    font-weight: 700;
    color: #aaa;
}
.smart-calculator-container .display-container {
    padding: 20px;
    margin-top: 60px;
    text-align: left;
    background: #000;
    border-radius: 25px;
    color: #fff;
}
.smart-calculator-container .calculator-input label { font-size: 18px; font-weight: 600; margin-bottom: 10px; }
.smart-calculator-container .calculator-input select {
    padding: 16px 12px;
    border: 2px solid #C3932A;
    border-radius: 10px;
    resize: vertical;
    font-size: 18px;
    font-weight: 600;
}
.smart-calculator-container .calculator-input input[type=text]:focus, select:focus { outline: none; }
.smart-calculator-container .calculator-input select { color: #555; }
.smart-calculator-container .display-container #display-value { font-size: 50px; margin: 0; }
.smart-calculator-container .display-container #display-value>small { font-size: 24px; }

/* Progress Bar */
section.calculator-progress-section {
    margin-bottom: 2rem;
}

.calculator-progress-bar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0;
}
.calculator-progress-bar li {
    flex: 2;
    position: relative;
    padding: 0;
    font-size: 0.875rem;
    line-height: 0;
    color: #C3932A;
    font-weight: 600;
    white-space: nowrap;
    overflow: visible;
    min-width: 0;
    text-align: center;
    border-bottom: 2px solid #e8e8e8;
}
.calculator-progress-bar li:first-child,
.calculator-progress-bar li:last-child {
    flex: 1;
}
.calculator-progress-bar li:last-child {
    text-align: right;
}
.calculator-progress-bar li:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    left: calc(50% - 6px);
    bottom: -7px;
    z-index: 3;
    transition: all 0.2s ease-in-out;
}
.calculator-progress-bar li:nth-child(2):before {
    left: 10px;
}
.calculator-progress-bar li:first-child:before {
    left: 12px;
}
.calculator-progress-bar li:last-child:before {
    right: 0;
    left: auto;
}
.calculator-progress-bar span {
    margin-bottom: -20px;
    position: absolute;
    height: 8px;
    left: calc(50% - 15px);
    bottom: -7px;
    z-index: 3;
    transition: all 0.2s ease-in-out;
}
.calculator-progress-bar li:nth-child(2) span {
    left: 6px;
}
.calculator-progress-bar .calculator-is-empty:before,
.calculator-progress-bar .calculator-is-pass:before,
.calculator-progress-bar .calculator-not-pass:before {
    display: none;
}
.calculator-progress-bar .calculator-is-pass {
    border-bottom: 2px solid #C3932A;
}
.calculator-progress-bar .calculator-is-pass:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: -100%;
    z-index: 2;
    border-bottom: 2px solid #C3932A;
}
.calculator-progress-bar .calculator-is-complete:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: -2px;
    left: -50%;
    z-index: 2;
    border-bottom: 2px solid #C3932A;
}
.calculator-progress-bar .calculator-is-complete:nth-child(2):after {
    width: 60%;
}
.calculator-progress-bar li:last-child span {
    width: 200%;
    display: inline-block;
    position: absolute;
    left: -100%;
}
.calculator-progress-bar .calculator-is-complete:first-child:after {
    left: 0;
    width: 12px;
}
.calculator-progress-bar .calculator-is-complete:last-child:after,
.calculator-progress-bar .calculator-is-active:last-child:after {
    width: 200%;
    left: -100%;
}

.calculator-progress-bar .calculator-is-complete:before {
    background-color: #fff;
    border: 4px solid #C3932A;
    bottom: -9px;
}

.calculator-progress-bar .calculator-is-active:before,
.calculator-progress-bar .calculator-is-hovered:before {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
}
.calculator-progress-bar .calculator-is-hovered:before {
    transform: scale(1.33);
}

.calculator-progress-bar li.calculator-is-hovered span {
    opacity: 1;
}

@media (max-width: 500px) {
    .smart-calculator-container {
        position: unset;
        top: unset;
        left: unset;
        -ms-transform: unset;
        transform: unset;
    }
}